<!DOCTYPE html>
<html>

<head>
    <title>Input</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class="form">
        <h1>Test Generator</h1>
        <div class="thumbnail"><img src="/img/logo.png" /></div>
        <form class="login-form" method="post" action="/generate">
            <label>
                <span class="required">Number of Tests to Generate</span>
                <input id="numTests" type="number" class="text" name="numTests" placeholder="0" tabindex="1" required />
            </label>
            <br><br>
            <label class="label-password">
                <span class="required">List of Questions</span> <br>
                <span class="required">Format: Leave a blank line between questions</span> <br>
            </label>
            <textarea id="questionsText" name="questionsText"></textarea>
            <input id="submit" type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>
