html,
body {
  background-color: #ffffff;
}

h1 {
  color: #ef3b3a;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

th,
td {
  border: 2px #777 solid;
  font-family: "Roboto", sans-serif;
}

th {
  background: #ef3b3a;
  color: white;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

table {
  border: 3px solid rgb(179, 172, 99);
}
